includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
parameters:
    level: 6
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/

    inferPrivatePropertyTypeFromConstructor: true
