includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
parameters:
    ignoreErrors:
        - '#Call to method __construct\(\) of internal class Doctrine\\.*#'
        - '#Property .*::\$id \(int\|null\) is never assigned int#'
    level: 4
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
